<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>loginAndRegister.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 注册servlet -->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <servlet-class>controller.PhotoUploadServlet</servlet-class>
  	<init-param>
  		<param-name>rootPath</param-name>
  		<param-value>D:\image\</param-value>
  	</init-param>
  </servlet>
  <!--========================================================================-->
  <servlet-mapping>
    <servlet-name>PhotoUploadServlet</servlet-name>
    <url-pattern>/PhotoUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>
